<% app = false %>

<% if app %>
  <%= render :partial => "apps/loading" %>

  <script type="text/javascript">
  <!--
  $j(document).ready(function(){
    spin_until_loaded(false);
  });
  -->
  </script>
<% end %>

<h1><%= "Get in on this" or "While things start up, why not..." %></h1>

<% form_for @user, :url => '/join' do |f| %>
  <%= error_messages_for :object => [@user, @app] %>

  <% if app %>
  <% fields_for @app do |a| %>
    <p><%= a.label :name, "Give your app a name" %><br />
    <%= a.text_field :name, {} %></p>
  <% end %>
  <% end %>

  <%= f.label :admin, "admin" %><br />
  <%= f.text_field :admin %><br />
  <br />

  <%= f.label :invite, "Enter your invite code" %><br />
  <%= f.text_field :invite %><br />
  <br />
  <%= f.label :login, "Choose your username" %><br />
  <%= f.text_field :login %><br />
  <br />
  <%= f.label :password, "Pick a password" %><br />
  <%= f.password_field :password %><br />
  <br />
  <%= f.label :email, "Give us your email" %><br />
  <%= f.text_field :email %><br />

  <%= f.submit "Sign in" %>
<% end %>
