<% content_for :stylesheet_tags do %><%= stylesheet_link_tag 'edit_app' %><% end %>

<div id="main_column">
  <% unless @app.new_record? %>
    <p>Deployed to <a href="<%= @app.uri %>"><%= @app.uri %></a></p>
  <% end %>

<% form_for(@app) do |f| %>
  <%= f.error_messages %>

    <%= f.text_area :code %>

  <p><%= f.submit "Create" %></p>
<% end %>
</div>

<div id="sidebar">
  
</div>
