<% content_for :stylesheets do %><%= stylesheet_link_tag 'edit_app' %><% end %>
<% content_for :javascripts do %>
  <%= javascript_include_tag 'ace/ace' %>
  <%= javascript_include_tag 'ace/theme-twilight' %>
  <%= javascript_include_tag 'ace/mode-ruby' %>
<% end %>

<script>
window.onload = function() {
    var editor = ace.edit("app_code");
    
    var Mode = require("ace/mode/ruby").Mode;
    editor.getSession().setMode(new Mode());
};
</script>

<div id="main_column">

  <%= form_for(@app) do |f| %>

    <%= errors @app %>

    <div id="changes" class="off"></div>
    <div id="editor_container" class="<%= @app.new_record? ? 'without' : 'with' %>_slider">

      <% unless @app.new_record? %>
        <a id="save_button" class="button small off" href="javascript:save();">save</a>
        <div id="commit_slider" class="without_changes">
          <div id="commit_bubble"></div>
          <div id="commit_stars"></div>
        </div>
      <% end %>

      <pre id="app_code"><%= @app.code %></pre>
    </div>

    <% if @app.new_record? %>
      <p><%= f.submit "Deploy", :class => "button" %></p>
    <% end %>

  <% end %>
</div>

<div id="sidebar">

  <% unless @app.new_record? %>
    <%= render :partial => "boxes/app_info" if signed_in? or @app.name %>

    <p>Deployed to <a href="<%= @app.uri %>"><%= @app.uri %></a></p>

    <% if @app.owner == current_user %>
      <p><a class="button" href="<%= app_deploy_path(@app) %>" %>Deploy</a></p>
    <% else %>
      <p><a class="button" href="<%= app_fork_path(@app) %>" %>Fork this app</a></p>
    <% end %>     

  <% end %>

</div>