<% content_for :stylesheets do %><%= stylesheet_link_tag 'edit_app' %><% end %>
<% content_for :javascripts do %><%= javascript_include_tag 'edit_area/edit_area_loader' %><% end %>

<div id="main_column">
  <% unless @app.new_record? %>
    <p>Deployed to <a href="<%= @app.uri %>"><%= @app.uri %></a></p>
  <% end %>


<% form_for(@app) do |f| %>
  <%= f.error_messages %>

  <div id="editor_container">
    <div id="commit_slider"></div>
    <%= f.text_area :code %>
  </div>

  <p><%= f.submit "Deploy" %></p>
<% end %>
</div>

<div id="sidebar">
  <%= render :partial => "boxes/app_info" if signed_in? or @app.name %>

  <%= render :partial => "boxes/authenticate" unless signed_in? %>

  <%= render :partial => "boxes/app_name" unless @app.name %>

  <% if @app.owner %>
    <%= render :partial => "boxes/other_apps", :locals => {:apps => @app.owner.apps} %>
  <% end %>
</div>

<script language="Javascript" type="text/javascript">
	// initialisation
	editAreaLoader.init({
		id: "app_code"	// id of the textarea to transform		
		,start_highlight: true	// if start with highlight
		,allow_resize: "no"
    ,toolbar: ""
		,allow_toggle: false
		,language: "en"
		,syntax: "ruby"	
    ,replace_tab_by_spaces: 2
    ,keypress_callback: 'handle_change'
    ,EA_init_callback: 'remember_code'
	});

  var last_saved_code = null;
  function remember_code(id) {
    last_saved_code = editAreaLoader.getValue('app_code')
  }

  function handle_change(id) {
    if (!editing) return;
    schedule_or_delay_a_save();
  }

  var save_timeout = null;
  function schedule_or_delay_a_save() {
    if (save_timeout != null) {
      clearTimeout(save_timeout);
    }

    save_timeout = setTimeout(save, 2000);
  }

  var saving = false;
  var original_code = document.getElementById("app_code").value;
  function save() {
    if (saving) {
      schedule_or_delay_a_save();
    } else {
      if (editAreaLoader.getValue('app_code') != last_saved_code) {
        saving = true;
        make_save_request();
        last_saved_code = editAreaLoader.getValue('app_code');
      }
      clearTimeout(save_timeout);
    }
  }

  function make_save_request() {
     new Ajax.Request('/apps/<%= @app.id %>/files/app.rb', 
      { 
        method:'put',
        parameters: 
          {
            "authenticity_token":"<%= form_authenticity_token %>",
            "app_code":editAreaLoader.getValue('app_code')
          },
        onSuccess: function(transport) {
          saving = false;
          add_microcommit();
        },
        onFailure: function() { alert("fail!"); }
      });   
  }

  function add_microcommit() {

  }

  var loading = false;
  var reload_when_finished = false;
  var commit_index_to_load;
  function load_commit(index) {
    if (loading) {
      reload_when_finished = true;
      commit_index_to_load = index;
    } else {
      loading = true;
      new Ajax.Request('/apps/<%= @app.id %>/commits/' + index, 
        { 
          method:'get',
          onSuccess: function(transport) {
            loading = false;
            editAreaLoader.setValue('app_code', transport.responseText);
            if (reload_when_finished) {
              load_commit(commit_index_to_load);
              reload_when_finished = false;
            }
          },
          onFailure: function() { alert("fail!"); }
        }); 
    }
  }

  $j(document).ready(function(){
    $j("#commit_slider").slider(
      {
        min: 0, 
        max: <%= @app.commits.count-1 %>,
        value: <%= @app.commits.count-1 %>,
        slide: function(event, ui) {
          load_commit(ui.value);
        }
      }
    );
  });

  var editing = <%= @app.owner == current_user %>;
</script>

