<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= yield :title or "Easy" %></title>
  <%= stylesheet_link_tag 'all' %>
  <%= javascript_include_tag "application" %>
  <%= yield :stylesheets %>
  <%= yield :javascripts %>
</head>
<body>

<div id="top_bar">
  <div id="account_stuff">
    <% if signed_in? %>
      <a href="/<%= current_user.login %>">Home</a> |
      <a href="/apps/new">New app</a> |
      <a href="/signout">Sign out</a>
    <% else %>
      <a href="/signin">Sign in</a>
    <% end %>
  </div>

  <img src="/images/icon_20x20.png"> <span id="logotype">Forkolator</span>
</div>
  <% if flash[:notice] %>
    <div class="errors"><%= flash[:notice] %></div>
  <% end %>

  <div id="page">
    <%= yield  %>
  </div>

</body>
</html>
